<% if user_signed_in? %>
<h1>Listing projects
</h1>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project|
  %>
    <tr>
      <td><%= project.titre %>
      </td>
      <td>
        <%= link_to 'Show', project, class: 'btn btn-default btn-xs' %>
        <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-default btn-xs' %>
        <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
  <%= link_to 'Nouvelle offre', new_project_path %>
<% else %>
<h1>Veuillez vous connecter pour voir les offres de stages
</h1>
<% end %>
