<%# navigation styled for Bootstrap 4.0 beta2 %>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

<!-- Brand and toggle -->

<%= link_to 'Application de demande de stages', root_path, class: 'navbar-brand' %>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse" id="navbarCollapse">

<ul class="navbar-nav mr-auto">

<%= render 'layouts/nav_links_for_auth' %>

</ul>

<% if user_signed_in? %>
  <%= form_tag(projects_path, :method => "get", id: "search-form",class:"form-inline mt-2 mt-md-0") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Rechercher projets",class:"form-control mr-sm-2" %>
      <%= submit_tag "Search",class:"btn btn-outline-success my-2 my-sm-0", :name => nil %>
  <% end %>
<% end %>
</div>

</nav>
